<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%marker] [%thread] [%X{x-trace-id}] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
    <queueSize>10000</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <neverBlock>true</neverBlock>
  </appender>

  <logger name="com.cloudentity.edge" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="io.netty" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="${LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
